/* Global Styles */
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header */
header {
    background-color: #fff;
    color: #fff;
    padding: 20px;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

nav {
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #6E272D;
    text-decoration: none;
    font-weight: bold;
}

.logo img {
    width: 150px;
    height: 60px;
}

/* Footer */
footer {
    background-color: #6E272D;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    position: relative;
    z-index: 1000;
}

footer p {
    margin: 0;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer li {
    display: inline-block;
    margin-right: 20px;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Hamburger Menu */
.menu-toggle {
    display: none;
    cursor: pointer;
    z-index: 1100;
}

.menu-toggle div {
    width: 30px;
    height: 3px;
    background-color: #6E272D;
    margin: 5px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        background-color: #fff;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        padding: 20px 0;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 1050;
    }

    nav li {
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
    }

    nav a {
        padding: 10px;
        display: block;
    }

    .menu-toggle {
        display: block;
    }

    .menu-toggle.active div:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .menu-toggle.active div:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active div:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
    }

    nav ul.active {
        display: flex;
    }
}

/* Meet Julius Section */
.meet-julius {
    position: relative;
    background: url('/images/profile.jpeg') no-repeat center center/cover;
    padding: 2rem 1rem; 
    text-align: center;
    color: white;
    min-height: 600px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center; 
}

.meet-julius h1 {
    font-size: 2.5rem;
    margin-top: 2rem; /* Add some top margin to push it down a bit */
    margin-bottom: 1rem;
    animation: colorChange 5s infinite;
}

.meet-julius .cta-button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: #5704bd;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    margin-top: 1rem; 
}

.meet-julius .cta-button:hover {
    background-color: #5a1d21;
}

@keyframes colorChange {
    0% { color: #002147; } /* Deep Blue */
    33% { color: #87CEEB; } /* Sky Blue */
    66% { color: #5704bd; } /* Red Oxide */
    100% { color: #002147; } /* Deep Blue */
}



/* About Julius Section */
.about-julius {
    padding: 20px;
    background: linear-gradient(135deg, #f4f4f4 50%, #fff 50%);
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.image-wrapper {
    flex: 1;
    padding: 10px;
    text-align: center;
}

.image-wrapper img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text-content {
    flex: 2;
    padding: 10px;
    text-align: left;
}

.text-content h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
}

.text-content p {
    font-size: 1em;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
    }

    .text-content {
        text-align: center;
    }
}

@media (max-width: 480px) {
    .text-content h1 {
        font-size: 1.5em;
    }

    .text-content p {
        font-size: 0.9em;
    }
}


/* Discover Julius Section */
.discover-julius {
    background-color: #87CEEB;
    padding: 60px 20px;
    text-align: center;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #6E272D;
}

.discover-julius h2 {
    font-size: 2.8rem;
    margin-bottom: 20px;
    color: #333;
}

.discover-julius p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #555;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.discover-julius .discover-btn {
    display: inline-block;
    padding: 12px 25px;
    font-size: 1.1rem;
    color: #fff;
    background-color: #6E272D;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.discover-julius .discover-btn:hover {
    background-color: #002147;
}

/* Subsidiaries Section */
.subsidiaries {
    background-color: #333;
    color: white;
    padding: 3rem 1rem;
}

.subsidiaries h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.project-item {
    background: #444;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.project-item:hover {
    transform: scale(1.05);
}

.project-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.project-item p {
    font-size: 1rem;
    line-height: 1.5;
}

/* Video Section */
.video-gallery {
    padding: 20px;
    background-color: #f5f5f5;
}

.video-gallery-content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.video-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.video-grid-item {
    flex: 1 1 calc(20% - 10px); 
    box-sizing: border-box;
}

.video-grid-item video {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

@media (max-width: 1024px) {
    .video-grid-item {
        flex: 1 1 calc(25% - 10px); 
    }
}

@media (max-width: 768px) {
    .video-grid-item {
        flex: 1 1 calc(33.33% - 10px); 
    }
}

@media (max-width: 480px) {
    .video-grid-item {
        flex: 1 1 calc(50% - 10px); 
    }
}






/* Image Gallery Section */
.image-gallery {
    padding: 80px 20px;
    background-color: #f0f0f0;
    text-align: center;
}

.gallery-content h2 {
    font-size: 3rem;
    margin-bottom: 40px;
    font-weight: 700;
    color: #222;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    justify-items: center;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    background: #fff;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.gallery-item:hover img {
    transform: scale(1.1);
    filter: brightness(90%);
}

.gallery-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.picture-gallery {
    padding: 40px 20px;
    background-color: #f9f9f9;
}

.gallery-content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.gallery-content h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.gallery-item:hover img {
    transform: scale(1.05);
}

.gallery-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 1em;
    transition: background 0.3s ease;
}

.gallery-item:hover .gallery-caption {
    background: rgba(0, 0, 0, 0.9);
}

/* Responsive Design */
@media (max-width: 768px) {
    .gallery-content h2 {
        font-size: 2em;
    }

    .gallery-caption {
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    .gallery-content h2 {
        font-size: 1.5em;
    }

    .gallery-caption {
        font-size: 0.8em;
    }
}

/* Contact Us Section */
.contact-us {
    padding: 60px 20px;
    background: linear-gradient(to right, #0056b3, #007bff);
    color: #fff;
    text-align: center;
}

.contact-us h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.contact-us p {
    font-size: 1.2em;
    margin-bottom: 40px;
}

.contact-us-form {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.contact-us-form .form-group {
    margin-bottom: 20px;
}

.contact-us-form input,
.contact-us-form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.contact-us-form button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #0056b3;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-us-form button:hover {
    background-color: #003d80;
}

/* Add media query for better responsiveness */
@media (max-width: 768px) {
    .contact-us {
        padding: 40px 10px;
    }

    .contact-us h2 {
        font-size: 2em;
    }

    .contact-us p {
        font-size: 1em;
    }

    .contact-us-form {
        padding: 20px;
    }
}
html {
  scroll-behavior: smooth;
}

/* WhatsApp Green */
   .whatsapp-button {
        display: inline-flex;
        align-items: center;
        background-color: #25D366; 
        color: white;
        padding: 12px 24px;
        border-radius: 50px;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s, transform 0.3s;
        position: relative;
        overflow: hidden;
    }
    
    .whatsapp-button img {
        width: 28px; 
        margin-right: 12px;
        transition: transform 0.3s;
    }
    
    .whatsapp-button:hover {
        background-color: #1e8e4f; 
        transform: scale(1.05);
    }
    
    .whatsapp-button:hover img {
        transform: rotate(15deg);
    }

    .whatsapp-button-floating {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #25D366;
        color: white;
        padding: 12px 24px;
        border-radius: 50px;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        display: flex;
        align-items: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s, transform 0.3s;
        z-index: 1000;
    }
    
    .whatsapp-button-floating img {
        width: 28px;
        margin-right: 12px;
        transition: transform 0.3s;
    }
    
    .whatsapp-button-floating:hover {
        background-color: #1e8e4f;
        transform: scale(1.05);
    }
    
    .whatsapp-button-floating:hover img {
        transform: rotate(15deg);
    }